html {height: 0%;}
body {
margin: 0 auto;
font-family: Droid Arabic Naskh;
background-color: #49669E;
    text-align: center;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
 }
img {max-width: 100%;}
.text {
-moz-border-radius: 3px;
-webkit-border-radius: 3px;
border-radius: 3px;
color: #49669E; 
background-color: #fff; 
padding: 7px 15px; 
max-width: 100%; 
margin: 5px 0px 10px 0px;
  -webkit-user-select: text;  /* Chrome all / Safari all */
  -moz-user-select: text;     /* Firefox all */
  -ms-user-select: text;      /* IE 10+ */
  user-select: text;          /* Likely future */      

}
#kamal {
	background: #37B06D;
	padding: 30px;
	max-width: 604px;
        margin-top: 0px;
        border: #fbfbfb solid 4px;
        -moz-border-radius: 3px;
        -webkit-border-radius: 3px;
        border-radius: 3px;
} 
#triangle{
  width:0;
  border-top:30x solid transparent;
  border-right:30px solid transparent;
  border-bottom:30px solid #fff;
  border-left:30px solid transparent;
  margin:0 auto;
 font-family:open sans;
}
#logo {-moz-border-radius: 3px;
-webkit-border-radius: 3px;
border-radius: 3px; width: 190px; height: 29px; padding: 10px 5px 5px 5px; background-color: #fff; margin:10px;}
.mbh-notification-box {
-moz-border-radius: 3px;
-webkit-border-radius: 3px;
border-radius: 3px;
color: #37B06D;
margin-bottom: 8px;
padding: 10px 14px 10px 44px;
position: relative;
}
.mbh-notification-box:before {
font-family: FontAwesome;
font-size: 21px;
right: 14px;
bottom: 6px;
position: absolute;
}
.fontinfo {
background-color: #fff;
margin-top: 0px;
}
.fontinfo:before {
content: "\f05a";
margin-left: -2px;
}
.step {-moz-border-radius: 3px;
-webkit-border-radius: 3px;
border-radius: 3px;
color: #37B06D; background-color: #fff; padding: 7px 15px; width: 100px; margin: 5px 0px 10px 0px;}

.button {
text-decoration: none;
background:#fff;
color: #37B06D;
border: 3px solid #fff;
display:inline-block;
position:relative;
margin:30px 5px;
padding:7px 12px 11px 60px;
transition:all 0.4s ease
}
.button:hover {
 background:#37B06D;
color: #fff;
cursor: pointer;
}
.button:before{
content:"\f00c";
font-family:fontAwesome;
position:absolute;
font-style: normal;
font-weight: normal;
text-decoration: inherit;
font-size:28px;
border-radius:0 20px 0 0;
color:#fff;
background-color: #37B06D;
padding:0 10px 1 10px;
top:0;
left:0
}
.overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.7);
  transition: opacity 500ms;
  visibility: hidden;
  opacity: 0;
}
.overlay:target {
  visibility: visible;
  opacity: 1;
}

.popup {
  margin: 70px auto;
  padding: 20px;
  background: #fff;
  color: red;
  border-radius: 5px;
  max-width: 420px;
  position: relative;
  transition: all 5s ease-in-out;
  overflow-x: hidden;
}

.popup h2 {
  margin-top: 0;
  color: #000;
}
.popup .close {
  position: absolute;
  top: 20px;
  right: 30px;
  transition: all 200ms;
  font-size: 30px;
  font-weight: bold;
  text-decoration: none;
  color: #333;
}
.popup .close:hover {
  color: #06D85F;
}
.popup .content {
  max-height: 30%;
  overflow-y: hidden;
}

@media screen and (max-width: 700px){
  .box{
    width: 70%;
  }
  .popup{
    width: 70%;
  }
}
@media only screen and (max-width: 580px) {
	#kamal{

		margin-right: 3%;
		width: 88%;
		margin-left: 0;
		padding-left: 3%;
		padding-right: 3%;
	}
}
